@model IEnumerable<CricInfo.Models.Comment>

<form>
    <input type="hidden" name="ArticleId" value="@ViewBag.ArticleId"/>
    <input name="CommentText" type="text" />
    <input name="DateCommented" type="text" />
    <input name="Rating" type="number" />
</form>

@foreach (var item in Model)
{
    <div class="well  well-sm">
        
        <br />
        <br />
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @(item.Rating*100/10)%;">
                <span class="sr-only">60% Complete</span>
            </div>
        </div>

        @item.CommentText
    </div>
}

