@model List<CricInfo.ViewModel.ArticleIndexViewModel>

@section featured{
    <div class="alert-warning">@Model[0].Title</div>
}

<h2>@ViewBag.SubTitle</h2>

<form action="/api/Ranking" method="post">
    <input name="Country" type="text" value="Zimbabwe"/>
    <input name="Rank" type="number" value="17"/>
    <input type="submit" value="Search" />
</form>

<div id="resultsDiv">
    @Html.Partial("_ArticleResults")
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
