<div>
    <button class="btn btn-info">FB Likes: @Model.FbLikes</button>
    <button class="btn btn-warning">Tweets: @Model.Tweets</button>
    <button class="btn btn-danger">Plus: @Model.PlusShares</button>
</div>
